/*--
    Common Css
--*/

.bersihkan{
    clear: both;
}

body {
    font-family: 'Lato', sans-serif;
    font-size: 14px;
    font-weight: 300;
    line-height: 25px;
    color: #3b4045;
    font:14px/22px 'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 300;
    margin: 0px;
}
h1 {
    font-size: 44px;
    line-height: 56px;
    color: #333;
}
h2 {
    font-size: 30px;
    line-height: 35px;
}
h3 {
    font-size: 23px;
    line-height: 25px;
}
h4 {
    font-size: 20px;
    line-height: 24px;
    font-weight: 400;
}
p {
    font-size: 16px;
    line-height: 25px;
    margin: 0px;
}
ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

a {
    -webkit-transition: all 0.5s ease-in-out 0s;
    -moz-transition: all 0.5s ease-in-out 0s;
    -o-transition: all 0.5s ease-in-out 0s;
    transition: all 0.5s ease-in-out 0s;
}

a:focus,
.btn:focus,
.btn:active:focus {
    box-shadow: none;
    outline: 0 none;
}
a,
a:active,
a:focus,
a:active {
    text-decoration: none;
}

.section {
    padding: 70px 0;
}
/*--
    custom heading
--*/

.heading {
    text-align: center;
    color: #777777;
    padding-bottom: 30px;
}
.heading h2 {
    color: #3c3c3c;
    padding-bottom: 30px;
    text-transform: capitalize;
    font-weight: bold;
    font-size: 40px;
    line-height: 40px;
}
.heading p {
    font-size: 18px;
    line-height: 28px;
    font-weight: 300;
}

.sub-heading {
    margin-bottom: 30px;
}

.sub-heading h3 {
    font-size: 30px;
    line-height: 40px;
}

.sub-heading h3 small {
    font-weight: 300;
}

.sub-heading h4 {
    font-size: 25px;
    margin-bottom: 15px;
}

.sub-heading > p {
    font-size: 14px;
    color: #777;
}

.btn {    
    border-radius: 0;
}

.btn-home {
    background-color: transparent;
    border: 1px solid #fff;
    border-radius: 0px;
    color: #fff;
    font-size: 18px;
    padding: 10px 40px;
    margin-top: 30px;
}

.btn-home:hover,
.btn-home:focus {
    background-color: #fff;
    color: #555;
}

.btn-border {
    border: 1px solid #fff;
    padding: 13px 40px;
    color: #fff;
    font-size: 15px;
    text-transform: uppercase;
    text-shadow: none;
}


/* Sweep To Right */
.hover-right {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
    position: relative;
    -webkit-transition-property: color;
    transition-property: color;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
}
.hover-right:before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #2098d1;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transform-origin: 0 50%;
    transform-origin: 0 50%;
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}
.hover-right:hover,
.hover-right:focus,
.hover-right:active {
    color: white;
}
.hover-right:hover:before,
.hover-right:focus:before,
.hover-right:active:before {
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
}

/*--
    #hero-area start
--*/

#hero-area {
    padding:150px 0 70px 0;
    background: #fff;
}
#hero-area:before {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background: url(../img/header-overlay.png);
    opacity: 0.9;
}

/*hot-area*/

#hero-area .title_pelayanan{
    text-transform: uppercase;
    border: 1px solid #222627;
    border-radius: 4px;
    padding: 0;
}

#hero-area .title_pelayanan .main_ttl_pel{
    color: #222627;
    font-weight: bold;
    margin: 20px 0;
    font-size: 27px;
}

#hero-area .title_pelayanan .main_ttl_pel_butt{
    color: #222627;
    font-weight: bold;
    margin: 30px 0;
    font-size: 27px;
}

#hero-area .title_pelayanan .main_ttl_pel_butt .btn_regis{
    color: #222627;
    padding: 5px 15px;
    border-radius: 4px;
    text-transform: uppercase;
    font-size: 18px;
    font-weight: bold;
    border: 1px solid #222627;
    background: none;
}

#hero-area .title_pelayanan .main_ttl_pel_butt .btn_regis:hover{
    text-decoration: none;
    background: #222627;
    color: #fff;
}

#hero-area .home{
    margin-top: 100px;
}

#hero-area .home .service .desc_serv{
    margin: 0;
    padding: 0;
}

#hero-area .home .service .desc_serv .ttl_desc_serv{
    font-size: 20px;
    text-transform: capitalize;
    color: #222627;
    font-weight: bold;
}

#hero-area .home .service .desc_serv .ttl_desc_serv .span_ttl_desc_serv{
    border-bottom: 1px solid #222627;
}

#hero-area .home .service .desc_serv .main_desc_serv{
    margin: 10px 0;
    color: #222627;
    font-size: 16px;
}

#hero-area .home .service .list_serv{
    margin-top: 25px;
}

#hero-area .home .service .list_serv ul li{
    margin: 10px 0;
}

#hero-area .home .service .list_serv ul li a{
    color: #fff;
}

#hero-area .home .service .list_serv ul li a .fa-calendar{
    font-size: 25px;
    margin-right: 10px;
    color: #fff;
}

#hero-area .home .service .list_serv ul li a .fa-phone{
    font-size: 29px;
    margin-right: 10px;
    color: #fff;
}

#hero-area .home .service .list_serv ul li a .fa-plus{
    font-size: 29px;
    margin-right: 10px;
    color: #fff;
}

#hero-area .home .login .login-home{
    margin: 25px 0 13px 0;
}

#hero-area .home .login .login-home form table{
    width: 100%;
}

#hero-area .home .login .login-home form table .input_name{
    padding-bottom: 17px;
    font-size: 16px;
}

#hero-area .home .login .login-home form table .input_text{
    padding: 5px;
    border-radius: 3px;
    border: 1px solid #222627;
    width: 100%;
    margin-bottom: 15px;
    font-size: 16px;
    color: #222627;
}

#hero-area .home .login .login-home form table .input_submit{
    padding: 5px 10px;
    border-radius: 3px;
    border: 1px solid #222627;
    color: #fff;
    background: #222627;
    font-size: 16px;
    margin-bottom: 10px;
}

#hero-area .home .login .login-home form table .forgett{
    margin-top: 10px;
    color: #222627;
    font-size: 16px;
    font-style: italic;
}

#hero-area .title-reg{
    font-size: 20px;
    padding-bottom: 5px;
    margin: 10px 0 15px 0;
    text-align: left;
    text-transform: uppercase;
}

#hero-area .title-reg .main_title_reg{
    border-bottom: 2px solid #DBDEE1;
    padding-bottom: 10px;
    font-size: 30px;
    font-weight: bold;
}

#hero-area .register_all .cont-regis{
    padding: 15px;
    border: 1px solid #DBDEE1;
    border-radius: 4px;
}

#hero-area .register_all .cont-regis h2{
    font-weight: bold;
    margin-bottom: 10px;
}

#hero-area .register_all .cont-regis table{
    width: 100%;
}

#hero-area .register_all .cont-regis table .jenis_name{
    margin: 0 0 2px 0;
    font-size: 13px;
    text-transform: capitalize;
    vertical-align: top;
}

#hero-area .register_all .cont-regis table .input_text{
    padding: 5px;
    border-radius: 3px;
    border: 1px solid #c6c6c6;
    width: 100%;
    font-size: 13px;
    margin-bottom: 15px;
}

.navbar-default {
    padding: 10px;
}

/* #hero-area  */
.animated .logo-2 {
    display: block!important;
}
.logo-2 {
    display: none!important;
}
.animated .logo-1 {
    display: none!important;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus,
.navbar-default.animated .navbar-nav > li > a:hover {
    color: #009ee5;
}
.navbar-default {
    background-color: transparent;
    -webkit-transition: all 0.3s ease-in-out 0s;
    -moz-transition: all 0.3s ease-in-out 0s;
    -ms-transition: all 0.3s ease-in-out 0s;
    -o-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
}

.navbar-default.animated {
    background-color: #fff;
    box-shadow: 0 4px 4px -2px rgba(0, 0, 0, 0.15);
    padding:10px;
}

.navbar-default {
    background: #89292A;
    border: 0;
    -webkit-transition: all 0.3s ease-in-out 0s;
    -moz-transition: all 0.3s ease-in-out 0s;
    -o-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
}
.navbar-default .navbar-brand {
    color: #777;
    padding: 5px 0;
}

.navbar-default .navbar-brand>img{
    width: 100px;
}

.navbar-default .navbar-nav > li > a{
    color: #fff;
    font-weight: bold;
}

.navbar-default .navbar-nav > li > a:hover {
    color: #fff;
    position: relative;
    background: none;
}
.navbar-default.animated .navbar-nav > li > a{
    color: #000;
}

.navbar-default.animated .navbar-nav > li > a:hover {
    color: #89292A;
    background: #fff;
}
.navbar-default .navbar-nav > li.current > a {
    color: #fff;
}
.navbar-default.animated .navbar-nav > li.current > a {
    color: #89292A;
    font-weight: bold;
}

/*--
    article start
--*/

#testimoni{
    text-align: center;
    background: #f5f5f5;
}

#testimoni .list_testimoni{
    margin-bottom: 15px;
}

#testimoni .list_testimoni .main_testimoni .icon-testi{
    text-align: center;
}

#testimoni .list_testimoni .main_testimoni .icon-testi img{
    display: inline-table;
}

#testimoni .list_testimoni .main_testimoni .caption h3{
    margin-bottom: 10px;
}
/*--
    About start
--*/

#about{
    background: #89292A;
    color: #fff;
}

#about h2{
    color: #fff;
    font-weight: bold;
}

#about h3 {
    font-size: 26px !important;
    font-weight: 300;
    line-height: 36px;
    color: #7e7e7e;
    margin-top: 20px;
}
#about .heading p {
    font-size: 18px;
    color: #898989;
}
#about .block p {
    font-size: 15px;
    color: #7e7e7e;
    line-height: 30px;
}
#about .block .bottom-text {
    padding-right: 20px;
}
#about .block img {
    width: 100%;
}

#about .content_about{
    text-align: center;
}



.init-slider .owl-dots {
    margin-top: -25px;
    position: relative;
    text-align: center;
    z-index: 9;
}

.init-slider .owl-dot {
    background-color: #41aba0;
    border-radius: 50px;
    display: inline-block;
    height: 10px;
    margin: 0 5px;
    opacity: 0.6;
    width: 10px;
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
}

.init-slider .owl-dot.active {
    opacity: 1;
}


/*--
    call-to-action start
--*/

#call-to-action {
    padding: 70px 0px;
    background: url(../images/call-to-action.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    border-top: 1px solid #eee;
    color: #fff;
}

#call-to-action .block h2 {
    font-size: 25px;
    margin-bottom: 10px;
    font-weight: 400;
    line-height: 1.5;
    text-transform: uppercase;
}
#call-to-action .block p {
    font-size: 15px;
    padding-right: 30px;
    color: #9F9F9F;
}
#call-to-action .block input {
    width: 40%;
    height: 40px;
    border-radius: 0;
    display: inline-block;
    box-shadow: none;
    vertical-align: middle;
}

#contact {
    background: #f9f9f9;
}


hr {
    border: none;
    border-top: 1px solid #ccc;
    margin: 0 0 24px 0;
    width: 100%;
}
.address {

}
.address p {
    margin-bottom: 20px;
    font-size: 13px;
    line-height: 22px;
    color: #666;
}
#contact .form-group {
    /* background-color: #f4f4f4;
    margin: 0 auto;
    padding: 80px 100px 55px;
    width: 650px;
    box-shadow: 0 4px 40px  rgba(0, 0, 0, 0.2); */
}
.input-field .form-control {
    height: 38px;
    margin: 0 auto;
    border-radius: 0px;
    border: 1px solid #DEDEDE;
    box-shadow: none;
    background: #f5f5f5;
    border: none;
    width: 100%;
    height: 50px;
    padding-left: 20px;
    font-weight: 500;
    margin-bottom: 24px;
    border-radius: 0;
}
.btn-send {
    line-height: 48px;
    border: 2px solid #89292A;
    background: #89292A;
    color: #fff;
    width: 100%;
    font-size: 11px;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 1px;
    border-radius: 0;
    margin-top: 10px;
}

.btn-send:hover{
    color: #fff;
}

.input-field label {
    color: rgba(237, 28, 36, 0.7);
} 
.form-group .input-field + .input-field {
    margin-top: 20px;
}
.input-field textarea.form-control {
    height: 160px;
    margin: 0 auto;
    box-shadow: none;
}
.form-group {
    margin-top: 20px;
}
.form-group .btn-submit {
    border: 0 none;
    border-radius: 0;
    color: #fff;
    padding:10px 20px;
    font-size: 15px;
    background: -webkit-gradient(linear, right top, right bottom, color-stop(0%,#8ec64e), color-stop(100%,#41aba0));
}
#contact .block .btn span {
    padding-left: 23px;

}
#success,
#error {
    display: none;
}
footer {
    text-align: center;
    background: #272727;
    padding: 27px 0px;
}
footer p {
    font-weight: 300;
    font-size: 12px;
    color: #dfdfdf;
    letter-spacing: 3px;
}
footer p a {
    color: #fff;
}
footer p a:hover {
    color: #fff;
}



/* start css halaman user */

/* .navbar-default .navbar-nav>li>a:hover{
    background: #8ec64e;
}

.navbar-default .navbar-nav>.open>a{
    background: #8ec64e;
}

.navbar-default .navbar-nav>.open>a:focus{
    background: #8ec64e;
} */

.dropdown-menu{
    padding: 6px;
}

.dropdown-menu>li.user-header{
    height: 175px;
    padding: 10px;
    text-align: center;
    background-color: green;
    margin-bottom: 10px;
}

.dropdown-menu>li.user-header img{
    width: 70px;
    height: 70px;
    margin-top: 30px;
    border-radius: 50%;
}

.dropdown-menu>li.user-header p{
    color: #fff;
} 

.home_user .welcome_user p{
    color: #333;
    text-transform: capitalize;
    font-size: 25px;
    font-weight: bold;
}

.home_user .side_user{
    padding: 10px 15px;
    background: #fff;
    border-radius: 4px;
    border: 1px solid #DBDEE1;
}

.home_user .side_user ul li{
    margin: 5px 0;
}

.home_user .side_user ul li a{
    font-size: 18px;
    color: #000;
    text-transform: capitalize;
    font-weight: 500;
}

.home_user .side_user ul li a:hover{
    color: #89292A;
    text-decoration: none;
}

.home_user .cont_user{
    padding: 15px 15px;
    background: #fff;
    border-radius: 4px;
    border: 1px solid #DBDEE1;
}

.home_user .cont_user .main_evaluasi{
    margin: 0;
    padding: 0;
}

.home_user .cont_user .main_evaluasi ol li{
    margin-bottom: 10px;
}

.home_user .cont_user .main_evaluasi ol li a{
    color: #333;
    font-size: 16px;
}

.home_user .cont_user .main_evaluasi ol li a:hover{
    text-decoration: none;
}

.home_user .cont_user .main_evaluasi ol li .btn-eva{
    border-radius: 3px;
    margin: 0 10px;
}

.home_user .cont_user .main_evaluasi .form_tanya{
    margin-bottom: 35px;
}

.home_user .cont_user .main_evaluasi .form_tanya form{
	margin: 20px 0;
}

.home_user .cont_user .main_evaluasi .form_tanya table{
	width: 100%;
}

.home_user .cont_user .main_evaluasi .form_tanya table .jenis_name{
	margin: 0 0 2px 0;
    font-size: 13px;
    text-transform: capitalize;
    vertical-align: top;
	color: #333;
}

.home_user .cont_user .main_evaluasi .form_tanya table .input_text{
	padding: 5px;
    border-radius: 3px;
    border: 1px solid #c6c6c6;
    width: 100%;
    font-size: 13px;
    margin-bottom: 15px;
	color: #333;
}

.home_user .cont_user .main_evaluasi .form_tanya table .btn-kirim{
	border-radius: 3px;
}

.home_user .cont_user .main_evaluasi .link_tanya{
    margin-bottom: 35px;
}

.home_user .cont_user .main_evaluasi .link_tanya a{
    border-radius: 4px;
}

.home_user .cont_user .main_evaluasi .cont-tanya-dokter .list-tanya{
    margin-bottom: 20px;
}

.home_user .cont_user .main_evaluasi .cont-tanya-dokter .list-tanya .main_cont_tanya{
    margin: 0;
    padding: 0;
}

.home_user .cont_user .main_evaluasi .cont-tanya-dokter .list-tanya .main_cont_tanya h4{
    font-size: 18px;
    color: #333;
    text-transform: capitalize;
}

.home_user .cont_user .main_evaluasi .cont-tanya-dokter .list-tanya .main_cont_tanya h4 a{
	color: #333;
    font-weight: bold;
}

.home_user .cont_user .main_evaluasi .cont-tanya-dokter .list-tanya .main_cont_tanya h4 a:hover{
	text-decoration: none;
}

.home_user .cont_user .main_evaluasi .cont-tanya-dokter .list-tanya .main_cont_tanya .desc_tanya{
    margin: 10px 0;
    font-size: 14px;
}

.home_user .cont_user .main_evaluasi .cont-tanya-dokter .list-tanya .main_cont_tanya .readmore ul li{
    float: left;
    margin-right: 5px;
}

.home_user .cont_user .main_evaluasi .cont-tanya-dokter .list-tanya .main_cont_tanya .readmore a{
    text-decoration: none;
    color: #fff;
    font-weight: 500;
    font-size: 13px;
    background: #89292A;
    padding: 3px 5px;
    text-transform: capitalize;
}

.home_user .cont_user .main_evaluasi .cont-tanya-dokter .list-tanya .main_cont_tanya .readmore a:hover{
    text-decoration: none;
}


.home_user .cont_user .pertanyaan_pasien .main_pertanyaan{
	padding: 15px 15px;
    background: #fff;
    border: 1px solid #DBDEE1;
	border-left: 2px solid blue;
	margin-bottom: 15px;
}

.home_user .cont_user .pertanyaan_pasien .main_pertanyaan .det_ttl_tanya{
	font-size: 20px;
    color: #333;
    font-weight: bold;
	text-transform: capitalize;
	margin-bottom: 10px;
}

.home_user .cont_user .pertanyaan_pasien .main_pertanyaan .tgl_ttl_tanya{
	color: #999;
    font-size: 12px;
    font-style: italic;
    text-transform: capitalize;
    margin-bottom: 10px;
}

.home_user .cont_user .pertanyaan_pasien .main_pertanyaan .rinci_ttl_tanya{
	text-align: justify;
    font-size: 16px;
    line-height: 150%;
    margin-bottom: 20px;
}

.home_user .cont_user .jawaban_dokter .main_jawaban{
	padding: 15px 15px;
    background: #fff;
    border: 1px solid #DBDEE1;
	border-left: 2px solid green;
	margin-bottom: 15px;
}

.home_user .cont_user .jawaban_dokter .main_jawaban .prof-dok{
	margin-bottom: 15px;
}

.home_user .cont_user .jawaban_dokter .main_jawaban .prof_dok_left img{
	width: 80px;
	height: 80px;
	border-radius: 50%;
	margin: 0 auto;
}

.home_user .cont_user .jawaban_dokter .main_jawaban .prof_dok_right .dijwb{
	font-size: 16px;
	color: #333;
}

.home_user .cont_user .jawaban_dokter .main_jawaban .prof_dok_right .nm_dok{
	font-size: 18px;
	font-weight: bold;
	color: blue;
}

.home_user .cont_user .jawaban_dokter .main_jawaban .inti_jwbn_dok{
	text-align: justify;
    font-size: 16px;
    line-height: 180%;
    margin-bottom: 20px;
}

.home_user .cont_user .tanya_footer{
	padding: 15px;
    border: 1px solid #D8DADC;
    border-radius: 2px;
}

.home_user .cont_user .tanya_footer .tf_left{
	font-size: 15px;
}

.home_user .cont_user .tanya_footer .tf_right{
	font-size: 16px;
}

.home_user .cont_user .tanya_footer .tf_right a{
	background: #89292A;
    padding: 5px 10px;
    color: #fff;
    border-radius: 4px;
    border: 1px solid #89292A;
}

.home_user .cont_user .tanya_footer .tf_right a:hover{
	text-decoration: none;
}

.home_user .welcome_user{
    margin-bottom: 70px;
}

.active-cyan-4 input[type=text]:focus:not([readonly]) {
    border: 1px solid #4dd0e1;
    box-shadow: 0 0 0 1px #4dd0e1;
}

.btn_ok{
    border-radius: 4px;
    margin-top: 2px;
}

.search_dok .wrap-search{
    border-bottom: 1px solid #D8DADC;
}

.search_dok .main_search{
    margin: 20px 0 30px 0;
}

.dokchatt{
    margin-top: 20px;
}

.dokchatt .main_dok{
    margin: 0;
    padding: 0;
}

.dokchatt .main_dok .main_list_dok{
    margin-bottom: 25px;
    border-bottom: 1px solid #D8DADC;
    padding-bottom: 25px;   
    padding-left: 0;
    padding-right: 0;
}

.dokchatt .main_dok .main_list_dok .img-dok{
    margin-bottom: 15px;
}

.dokchatt .main_dok .main_list_dok .img-dok img{
    border: 1px solid #ccc;
    border-radius: 4px;
}

.dokchatt .main_dok .main_list_dok .detail-dok{
    margin-bottom: 15px;
}

.dokchatt .main_dok .main_list_dok .detail-dok .props_dok{
    font-size: 16px;
    font-weight: bold;
}

.dokchatt .main_dok .main_list_dok .detail-dok .jdwl_dok a{
    color: #fff;
    background: #5cb85c;
    padding: 5px 15px;
    text-transform: capitalize;
    border-radius: 3px;
    font-weight: bold;
    cursor: pointer;
}

.dokchatt .main_dok .main_list_dok .detail-dok .jdwl_dok{
    margin: 10px 0 0 0;
}

.dokchatt .main_dok .main_list_dok .detail-dok .jdwl_dok a:hover{
    text-decoration: none;
    background: #52B18D;
}

.dokchatt .main_dok .main_list_dok .act-dok .btn_act{
    border-radius: 4px;
}

.dokchatt .title_chat_online{
    padding: 0 10px 10px 10px;
    text-align: center;
    font-weight: bold !important;
    color: #000;
    font-size: 15px;
}

.dokchatt .chat_online{
    border: 1px solid #D8DADC;
    border-radius: 5px;
    padding: 8px;
}

.dokchatt .chat_online .list_chat_online{
    margin-bottom: 15px;
}

.dokchatt .chat_online .list_chat_online .img_chat_online{
    text-align: center;
}

.dokchatt .chat_online .list_chat_online .img_chat_online img{
    border-radius: 50%;
    width: 70px;
    height: 70px;
    border: 1px solid #D8DADC;
}

.dokchatt .chat_online .list_chat_online .buttn-chatt{
    padding-top: 25px;
}

.dokchatt .chat_online .list_chat_online .buttn-chatt .btn_chatt{
    background: #5cb85c;
    color: #fff;
    padding: 7px 10px;
    border-radius: 3px;
}

.dokchatt .chat_online .list_chat_online .buttn-chatt .btn_chatt:hover{
    text-decoration: none;
}

/* end css halaman user */

/*start css live chat*/

.profile_chat{
    margin: 0;
}

.profile_chat .title_chat_live{
    font-size: 20px;
    font-weight: bold;
    color: #000;
    text-transform: capitalize;
    margin-bottom: 15px;
}

.profile_chat .title_chat_live .main_title_chat_live{
    border-bottom: 2px solid #000;
}

.profile_chat .desc_chat_live .img_dok_live img{
    border-radius: 50%;
    border: 1px solid #D8DADC;
}

.profile_chat .desc_chat_live .decs_dok_live{
    padding-top: 15px;
}

.profile_chat .desc_chat_live .decs_dok_live .desc_live{
    font-size: 16px;
    font-weight: bold;
}

.fav_sett_chat .sett_chatt{
    float: right;
    margin: 0 10px;
    text-align: center;
}

.fav_sett_chat .sett_chatt .fa-cog{
    font-size: 30px;
}

.fav_sett_chat .fav_chatt{
    float: right;
    margin: 0 10px;
    text-align: center;
}

.fav_sett_chat .fav_chatt .fa-heart{
    font-size: 30px;
    color: #f709bf;
}



/*main chat*/

.main_chat_live{
    padding: 15px;
}

.main_chat_live .cont-main-chat {
    border: 2px solid #dedede;
    background-color: #f1f1f1;
    border-radius: 5px;
    padding: 10px;
    margin: 10px 0;
}

.main_chat_live .darker {
    border-color: #ccc;
    background-color: #ddd;
}

.main_chat_live .cont-main-chat::after {
    content: "";
    clear: both;
    display: table;
}

.main_chat_live .cont-main-chat img {
    float: left;
    max-width: 60px;
    width: 100%;
    margin-right: 20px;
    border-radius: 50%;
}

.main_chat_live .cont-main-chat img.right {
    float: right;
    margin-left: 20px;
    margin-right:0;
}

.main_chat_live .time-right {
    float: right;
    color: #aaa;
}

.main_chat_live .time-left {
    float: left;
    color: #999;
}

.main_chat_live .type_message{
    margin-top: 15px;
}

.main_chat_live .type_message .input_chatt{
    width: 100%;
    padding: 10px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 1px solid #D8DADC;
    border-radius: 5px;
}

.main_chat_live .type_message .submit-chat{
    border: 1px solid #5CB85C;
    border-radius: 4px;
    padding: 5px 10px;
    width: 100px;
    font-weight: bold;
}

.wrap-info-pasien{
    margin-bottom: 20px;
}

.wrap-info-pasien .main_info-pasien{
    padding: 5px 0 0 0;
}

.wrap-info-pasien .main_info-pasien .input_name{
    padding-bottom: 17px;
    font-size: 16px;
    padding-right: 10px;
}

.wrap-info-pasien .main_info-pasien .input_text{
    margin-bottom: 15px;
}

.wrap-info-pasien .img-pasien{
    text-align: right;
}

.wrap-info-pasien .img-pasien .main_img-pasien img{
    border: 1px solid #ddd;
    padding: 5px;
    border-radius: 5px;
    width: 90px;
    height: 90px;
}

.title_evaluasi{
    font-size: 30px;
    text-transform: capitalize;
    font-weight: bold;
    margin: 30px 0;
	
}

/*end css live chat*/

/*jadwal praktek*/
.modal-dialog .modal-header h2{
    font-weight: bold !important;
}
.modal-dialog .modal-body .main_info_dok{
    margin: 0;
}

.modal-dialog .modal-body .main_info_dok .img-dok{
    margin-bottom: 15px;
    padding: 0;
}

.modal-dialog .modal-body .main_info_dok .img-dok img{
    border: 1px solid #ccc;
    border-radius: 4px;
}

.modal-dialog .modal-body .main_info_dok .detail-dok{
    margin-bottom: 15px;
}

.modal-dialog .modal-body .main_info_dok .detail-dok .props_dok{
    font-size: 16px;
    font-weight: bold;
}

.modal-dialog .modal-body .main_info_dok .detail-dok .jdwl_dok{
    margin: 10px 0 0 0;
}

.modal-dialog .modal-body .main_info_dok .detail-dok .jdwl_dok a{
    color: #fff;
    background: #5cb85c;
    padding: 5px 15px;
    text-transform: capitalize;
    border-radius: 3px;
    font-weight: bold;
}

.modal-dialog .modal-body .main_info_dok .act-dok{
    padding: 0 5px;
}

.modal-dialog .modal-body .main_info_dok .act-dok .btn_act{
    border-radius: 4px;
}

.modal-dialog .modal-body .main_info_dok .wrap-main_info_dok{
    padding: 15px;
    border: 1px solid #D8DADC;
    border-radius: 4px;
}

.modal-dialog .modal-body .main_info_dok .wrap-main_info_dok .title_jdwl_prak{
    text-transform: capitalize;
    font-size: 16px;
}

.modal-dialog .modal-body .main_info_dok .wrap-main_info_dok .alamat_jdwl_prak{
    margin: 0 0 15px 0;
}

.modal-dialog .modal-body .main_info_dok .wrap-main_info_dok .link_jdwl_prak .btn_regis{
    color: #fff;
    background: #5cb85c;
    padding: 5px 15px;
    text-transform: capitalize;
    border-radius: 3px;
    font-weight: bold;
    border: none;
}

.modal-dialog .modal-body .main_info_dok .wrap-main_info_dok .main_form_pesan{
    padding: 15px;
    border: 1px solid #D8DADC;
    border-radius: 5px;
    margin-top: 20px;
}

.modal-dialog .modal-body .main_info_dok .wrap-main_info_dok .main_form_pesan table{
    width: 100%;
}

.modal-dialog .modal-body .main_info_dok .wrap-main_info_dok .main_form_pesan table .input_name{
    padding-bottom: 17px;
    font-size: 16px;
    text-align: left;
    color: #000;
    width: 25%;
}

.modal-dialog .modal-body .main_info_dok .wrap-main_info_dok .main_form_pesan table .input_text{
    padding: 5px;
    border-radius: 3px;
    border: 1px solid #D8DADC;
    width: 100%;
    margin-bottom: 15px;
    font-size: 16px;
    color: #666;
}

.modal-dialog .modal-body .main_info_dok .wrap-main_info_dok .main_form_pesan table .input_submit{
    padding: 5px 10px;
    border-radius: 3px;
    border: 1px solid #D8DADC;
    color: #666;
    background: #fff;
    font-size: 16px;
    margin-bottom: 10px;
}

.modal-dialog .modal-body .main_info_dok .wrap-main_info_dok .main_form_pesan table .input_text_tgl{
    padding: 0 5px;
    border-radius: 3px;
    border: 1px solid #D8DADC;
    width: 100%;
    margin-bottom: 15px;
    font-size: 16px;
    color: #666;
}

.modal-dialog .modal-body .main_info_dok .wrap-main_info_dok .slide-up, .slide-down {
    max-height: 0;            
    overflow-y: hidden;
    -webkit-transition: max-height 1s ease-in-out;
    -moz-transition: max-height 1s ease-in-out;
    -o-transition: max-height 1s ease-in-out;
    transition: max-height 1s ease-in-out;
}

.modal-dialog .modal-body .main_info_dok .wrap-main_info_dok .slide-down {            
    max-height: 300px;
}

.modal-dialog .modal-body .main_profil_dok{
    margin: 0;
}

.modal-dialog .modal-body .main_profil_dok .wrap-main_profil_dok{
    padding: 15px 15px 0 15px;
    border: 1px solid #D8DADC;
    border-radius: 4px;
}

.modal-dialog .modal-body .main_profil_dok .wrap-main_profil_dok .props_dok{
    padding: 15px;
    border: 1px solid #D8DADC;
    border-radius: 4px;
    margin-bottom: 15px;
}

.modal-dialog .modal-body .main_profil_dok .wrap-main_profil_dok .props_dok .title_props_dok{
    border-bottom: 1px solid #D8DADC;
    text-align: center;
    text-transform: uppercase;
    font-size: 18px;
    font-weight: bold;
    padding-bottom: 5px;
}

.modal-dialog .modal-body .main_profil_dok .wrap-main_profil_dok .props_dok .content_props_dok{
    padding: 10px 0;
    font-size: 16px;
    text-align: center;
}

/*artikel*/

#allartikel{
    padding: 100px 0 50px 0;
    background: #fff;
}

#allartikel .content_artikel{
    padding: 15px;
    border: 1px solid #D8DADC;
    border-radius: 3px;
}

#allartikel .content_artikel .list_artikel{
    margin-bottom: 20px;
}

#allartikel .content_artikel .list_artikel .cont_art .main_cont_art{
    margin: 0;
    padding: 0;
}

#allartikel .content_artikel .list_artikel .cont_art .main_cont_art h4{
    font-size: 18px;
    color: #333;
    text-transform: capitalize;
}

#allartikel .content_artikel .list_artikel .cont_art .main_cont_art h4 a{
	color: #333;
	font-weight: bold;
}

#allartikel .content_artikel .list_artikel .cont_art .main_cont_art h4 a:hover{
	text-decoration: none;
}

#allartikel .content_artikel .list_artikel .cont_art .main_cont_art .desc_art{
    margin: 10px 0;
    font-size: 14px;
}

#allartikel .content_artikel .list_artikel .cont_art .main_cont_art .readmore a{
    text-decoration: none;
    color: #fff;
    font-weight: 500;
    font-size: 13px;
    background: #89292A;
    padding: 3px 5px;
    text-transform: capitalize;
}

#allartikel .detail_artikel{
	margin: 0;
	padding: 0;
}

#allartikel .detail_artikel .title_artikel h1{
	font-size: 30px !important;
	color: #333;
	font-weight: bold;
	text-transform: capitalize;
}

#allartikel .detail_artikel .tgl_artikel{
	color: #999;
	font-size: 12px;
	font-style: italic;
	text-transform: capitalize;
	margin-bottom: 10px;
}

#allartikel .detail_artikel .main_content_artikel{
	text-align: justify;
	font-size: 16px;
	line-height: 180%;
	margin-bottom: 20px;
}

#allartikel .detail_artikel .tanya_footer{
	padding: 15px;
    border: 1px solid #D8DADC;
    border-radius: 2px;
	margin-bottom: 25px;
}

#allartikel .detail_artikel .tanya_footer .tf_left{
	font-size: 15px;
}

#allartikel .detail_artikel .tanya_footer .tf_right{
	font-size: 16px;
}

#allartikel .detail_artikel .tanya_footer a{
	background: #89292A;
    padding: 5px 10px;
    color: #fff;
    border-radius: 4px;
    border: 1px solid #89292A;
}

#allartikel .detail_artikel .tanya_footer a:hover{
	text-decoration: none;
}

#allartikel .detail_artikel .atikel_terkait{
	padding: 15px 15px 0 15px;
    border: 1px solid #D8DADC;
    border-radius: 2px;
}

#allartikel .detail_artikel .title_all_terkait{
	color: #89292A;
	font-size: 22px;
	font-weight: bold;
	text-transform: uppercase;
	margin-bottom: 15px;
	border-bottom: 1px solid #D8DADC;
	padding-bottom: 2px;
}

#allartikel .detail_artikel .atikel_terkait .list_terkait{
	margin-bottom: 15px;
}

#allartikel .detail_artikel .atikel_terkait .list_terkait .ttl_art_kait{
	margin: 10px 0 2px 0;
	font-size: 15px;
	font-weight: bold;
	color: #333;
	text-transform: capitalize;
}

#allartikel .detail_artikel .atikel_terkait .list_terkait .ttl_art_kait a{
	color: #333;
}

#allartikel .detail_artikel .atikel_terkait .list_terkait .ttl_art_kait a:hover{
	text-decoration: none;
}

#allartikel .detail_artikel .atikel_terkait .list_terkait .desc_art_kait{
	line-height: 120%;
}

#allartikel .sidebar_artikel{
    padding: 15px;
    border: 1px solid #D8DADC;
    border-radius: 3px;
}

#allartikel .sidebar_artikel .ttl_side_art{
    text-align: center;
    font-size: 22px;
    margin-bottom: 30px;
    text-transform: capitalize;
    line-height: 150%;
}

#allartikel .sidebar_artikel .cont_side_art{
    text-align: center;
    font-size: 22px;
    margin-bottom: 30px;
    text-transform: capitalize;
    line-height: 150%;
}

#allartikel .sidebar_artikel .link_side_art{
    text-align: center;
    font-size: 18px;
    margin-bottom: 15px;
}

#allartikel .sidebar_artikel .link_side_art a{
    background: #89292A;
    padding: 5px 10px;
    color: #fff;
    border-radius: 4px;
    border: 1px solid #89292A;
}

#allartikel .sidebar_artikel .link_side_art a:hover{
    background: #fff;
    border: 1px solid #89292A;
    color: #89292A;
    text-decoration: none;
}

/*end artikel*/

@media (max-width: 1024px) {
    .dokchatt .main_dok .main_list_dok .act-dok{
        text-align: left !important;
    }
}

@media (max-width: 768px) {
    .dokchatt .main_dok .main_list_dok{
        padding-left: 0;
        padding-right: 0;
    }
}

@media (max-width: 425px) {
    #hero-area .title_pelayanan{
        margin: 0 15px;
    }

    .btn_ok{
        width: 100%;
        margin-top: 10px;
    }

    #hero-area .home .service{
        margin-bottom: 15px;
    }

    .home_user .side_user{
        margin-bottom: 20px;
    }

    .dokchatt .main_dok .main_list_dok{
        padding-left: 0;
        padding-right: 0;
    }

    .dokchatt .main_dok .main_list_dok .img-dok{
        margin-bottom: 15px;
    }

    .dokchatt .main_dok .main_list_dok .detail-dok{
        margin-bottom: 15px;
    }

    .dokchatt .main_dok .main_list_dok .detail-dok{
        margin-bottom: 15px;
    }

    .dokchatt .main_dok .main_list_dok .act-dok{
        margin-top: 15px;
    }

    .profile_chat{
        margin-bottom: 20px;
    }

    .wrap-info-pasien .img-pasien{
        text-align: center;
        margin-top: 30px;
    }

    .wrap-info-pasien .img-pasien .main_img-pasien img{
        width: 100px;
        height: 100px;
    }

    .title_evaluasi{
        line-height: 40px;
    }
}

@media (max-width: 320px) {
    #hero-area .title_pelayanan .main_ttl_pel{
        line-height: 35px;
    }
}